
<h1>Form</h1>
<form [formGroup]="mineralForm" (ngSubmit)="OnSubmit(mineralForm.value)">

    <h5 *ngIf="success">Your form is valid!</h5>

    <label>
      Location:
      <input type="text" formControlName="collected_in">
      <div *ngIf="submitted && mineralForm.controls['collected_in'].errors" class="error">
        <div *ngIf="mineralForm.controls['collected_in'].errors.required">Your name is required</div>
      </div>
    </label>
  
    <label>
      Type:
      <input formControlName="type">
      <div *ngIf="submitted && mineralForm.controls['type'].errors" class="error">
        <div *ngIf="mineralForm.controls['type'].errors.required">Type is required</div>
      </div>
    </label>

    <label>
        Weight:
        <input type="email" formControlName="weight_in_grams">
        <div *ngIf="submitted && mineralForm.controls['weight_in_grams'].errors" class="error">
          <div *ngIf="mineralForm.controls['weight_in_grams'].errors.required">Weight is required</div>
          
        </div>
      </label>

    <button type="submit" value="Submit Form"  class="cta">Submit Form</button>
  
  </form>

  <div *ngIf="submitted" class="results">
    <strong>Location:</strong> 
    <span>{{ mineralForm.controls['collected_in'].value }}</span>

    <strong>Type:</strong> 
    <span>{{ mineralForm.controls['type'].value }}</span>

    <strong>Weight:</strong> 
    <span>{{ mineralForm.controls['weight_in_grams'].value }}</span>
  </div>